#map {
	height: 700px;
}

/***********	Body CSS	 ***********/
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.img-text-container {
  /* background-color: DodgerBlue; */
  display: flex;
  flex-direction: row;

  margin: 0px 275px 25px 275px;
  justify-content: center;
  align-items: flex-start;

}
.img-text-container > .image {
  flex: 1.25 0 0%;
  text-align:right;/* and here*/
}
.image > img {
  vertical-align:top;/* here */
  max-width: 100%;
  max-height: auto;
  box-sizing: border-box;
  border: solid transparent 25px;

}
.img-text-container > .text {
    vertical-align:top;
    flex: 0.75 0 0%;
    box-sizing: border-box;
    border: solid transparent 25px;

}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}
h1 {
    font-family: arial;
    font-weight: bold;
    font-size: 95px;
    color: white;
}
h2 {
    font-family: arial;
    font-weight: bold;
    font-size: 50px;
    color: white;
}
h5 {
    font-family: arial;
    font-weight: bold;
    font-size: 40px;
    color: black;
    text-align: center;
}
/***********	Table CSS	 ***********/

th, td {
	padding: 3%;
}
th {
	text-align: left;
}

/***********	Footer CSS	 ***********/

.footer {
    flex-shrink: 0;
    background-color: black;
    color: white;
	padding: 10px;
}

/************ Legend CSS ****************/
/*Legend specific*/
.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 5px;*/
    line-height: 24px;
    color: #555;
  }
  .legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
  }

  .legend span {
    position: relative;
    bottom: 3px;
  }

  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }

  .legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }
