#map {
	height: 500px;
}

/***********	Body CSS	 ***********/
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
h1 {
    font-family: arial;
    font-weight: bold;
    font-size: 95px;
    color: white;
}
h2 {
    font-family: arial;
    font-weight: bold;
    font-size: 50px;
    color: white;
}
h5 {
    font-family: arial;
    font-weight: bold;
    font-size: 40px;
    color: black;
    text-align: center;
}
/***********	Table CSS	 ***********/

th, td {
	padding: 3%;
}
th {
	text-align: left;
}

/***********	Footer CSS	 ***********/

.footer {
    flex-shrink: 0;
    background-color: black;
    color: white;
	padding: 10px;
}
